.Tool-bar {
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.Arrow-back-icon {
    color: black;
    margin-right: 20px;
}

.Typography-icon {
    display: flex;
    align-items: center;
}

.Black-theme {
    color: black;
}